@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../font/MuseoSansCyrl.otf") format("opentype");
}
body {
  font-family: "Museo Sans Cyrl";
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

summary::-webkit-details-marker {
  display: none;
}

summary::-moz-list-bullet {
  list-style-type: none;
}

summary::marker {
  display: none;
}

summary:first-of-type {
  display: block;
}

.title {
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto 20px auto;
  font-family: "Museo Sans Cyrl";
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(26, 26, 26);
}

.support__links {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.support__links-wrapper {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: rgb(147, 187, 234);
  border-radius: 40px;
}

.support__links-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.support__links-title {
  padding: 0;
  margin: 0 0 5px 0;
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.support__links-description {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.support__links-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-buttons__item {
  min-width: 160px;
  padding: 0;
  margin: 0 0 5px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.links-buttons__link {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px 10px 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: rgb(26, 26, 26);
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: 10px 50%;
}

.links-buttons__item:nth-child(1) .links-buttons__link {
  background-image: url(../img/chat.svg);
}

.links-buttons__item:nth-child(2) .links-buttons__link {
  background-image: url(../img/phone.svg);
}

.links-buttons__item:nth-child(3) .links-buttons__link {
  background-image: url(../img/mail.svg);
}

.links-buttons__item:nth-child(4) .links-buttons__link {
  background-image: url(../img/star.svg);
}

.support__community {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.support__community-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  box-shadow: 0px 20px 60px 0px rgba(26, 26, 26, 0.05);
}

.support__community-text {
  margin: 0 10px 0 0;
}

.support__community-title {
  padding: 0;
  margin: 0 0 10px 0;
  font-family: "Museo Sans Cyrl";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(26, 26, 26);
}

.support__community-description {
  padding: 0;
  margin: 0;
  font-family: "Museo Sans Cyrl";
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(26, 26, 26);
}

.support__community-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.community-buttons__item {
  height: 56px;
  width: 56px;
  padding: 0;
  margin: 0 5px 5px 0;
  display: flex;
}

.community-buttons__link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(249, 249, 249);
  border-radius: 14px;
}

.community-buttons__link img {
  width: 20px;
  height: 20px;
}

.support__faq {
  width: 100%;
  box-sizing: border-box;
}

.support__faq-title {
  padding: 0 20px;
}

.mySwiper .swiper-wrapper {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 30px 20px;
  box-sizing: border-box;
}

.mySwiper .swiper-wrapper .swiper-slide {
  width: 100% !important;
  box-sizing: border-box;
  display: flex;
}

.swiper-slide .swiper-slide__item {
  width: 100%;
  height: 160px;
  box-sizing: border-box;
  display: flex;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}

.swiper-slide__item .swiper-slide__item-link {
  padding: 16px 16px 19px 16px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.swiper-slide__item-headline {
  padding: 0;
  margin: 0 0 8px 0;
  font-family: "Museo Sans Cyrl";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(26, 26, 26);
}

.swiper-slide__item-description {
  margin: 0;
  padding: 0;
  font-family: "Museo Sans Cyrl";
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(148, 148, 148);
}

.swiper-slide__item--img .swiper-slide__item-description {
  width: 150px;
}

.swiper-slide__item--img .swiper-slide__item-headline {
  width: 150px;
}

.swiper-slide__item--img {
  background-image: url(../img/img2.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 104px 160px;
}

.support__enquiry {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.support__enquiry-wrapper {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.enquiry__list {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.enquiry__item {
  padding: 15px 20px;
  margin: 0 0 10px 0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}

.enquiry__item-ask {
  position: relative;
  font-family: "Museo Sans Cyrl";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(26, 26, 26);
}

.enquiry__item-ask--big {
  padding: 0;
  margin: 0 0 5px 0;
  font-family: "Museo Sans Cyrl";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(26, 26, 26);
}

.enquiry__item-ask--small {
  padding: 0;
  margin: 0;
  font-family: "Museo Sans Cyrl";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(148, 148, 148);
}

.enquiry__item-answer {
  padding: 0;
  margin: 10px 0 0 0;
  font-family: "Museo Sans Cyrl";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(148, 148, 148);
}

.enquiry__item-ask:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 7px;
  height: 100%;
  background-image: url(../img/next-gray.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 7px 11px;
}

.enquiry__item[open] > summary:before {
  transform: rotate(90deg);
}

@media (min-width: 760px) {
  .support__links {
    padding: 25px;
  }
  .support__links-wrapper {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .support__links-text {
    max-width: 535px;
  }
  .support__links-title {
    font-size: 40px;
  }
  .support__links-description {
    margin: 0 0 25px 0;
    font-size: 16px;
  }
  .support__links-buttons {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .links-buttons__item {
    min-width: 160px;
    margin: 0 20px 20px 0;
  }
  .links-buttons__link {
    padding: 15px 25px 15px 47px;
    font-size: 15px;
    background-position: 25px 50%;
  }
  .support__community {
    padding: 25px;
  }
  .support__community-wrapper {
    padding: 30px;
  }
  .support__community-text {
    margin: 0 10px 0 0;
  }
  .support__community-title {
    padding: 0;
    margin: 0 0 16px 0;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0px;
  }
  .support__community-description {
    font-size: 30px;
  }
  .support__community-buttons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .community-buttons__item {
    height: 56px;
    width: 56px;
    padding: 0;
    margin: 0 5px 5px 0;
    display: flex;
  }
  .support__faq-title {
    padding: 0 25px;
  }
  .mySwiper .swiper-wrapper .swiper-slide {
    width: calc(50% - 10px) !important;
    box-sizing: border-box;
    display: flex;
  }
  .support__enquiry {
    padding: 25px;
  }
}
@media (min-width: 1200px) {
  .title {
    padding: 0;
    margin: 0 auto 35px auto;
    font-size: 40px;
    line-height: 48px;
  }
  .support__links {
    padding: 40px;
  }
  .support__links-wrapper {
    position: relative;
    padding: 40px 0 54px 0;
    max-width: 1200px;
    background-image: url(../img/img.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top 80px right 0;
  }
  .support__links-wrapper::after {
    content: "";
    position: absolute;
    width: 274px;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../img/img1.png);
    background-repeat: no-repeat;
    background-size: 274px 195px;
    background-position: center;
  }
  .support__links-title {
    font-size: 60px;
    line-height: 72px;
  }
  .support__links-description {
    margin: 0 0 40px 0;
    font-size: 17px;
    line-height: 24px;
  }
  .support__links-buttons {
    justify-content: center;
    flex-wrap: no-wrap;
  }
  .links-buttons__item {
    min-width: 160px;
    min-width: 48px;
    margin: 0 8px 0px 0;
  }
  .links-buttons__item:last-child {
    margin: 0;
  }
  .support__community {
    padding: 40px;
    margin-bottom: 40px;
  }
  .support__community-wrapper {
    padding: 40px 42px;
    max-width: 996px;
    box-sizing: border-box;
  }
  .support__community-description {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0px;
  }
  .support__community-buttons {
    flex-wrap: nowrap;
  }
  .community-buttons__item {
    padding: 0;
    margin: 0 15px 0 0;
  }
  .community-buttons__item:last-child {
    margin: 0;
  }
  .support__faq-title {
    padding: 0;
    margin-bottom: 2px;
  }
  .support__faq .mySwiper {
    max-width: 1260px;
    margin: 0 auto;
  }
  .mySwiper .swiper-wrapper {
    padding: 30px 30px 40px 30px;
  }
  .mySwiper .swiper-wrapper .swiper-slide {
    width: 282px !important;
  }
  .swiper-slide .swiper-slide__item {
    width: 282px;
  }
  .support__enquiry {
    padding: 40px;
  }
  .support__enquiry-wrapper {
    max-width: 996px;
  }
  .enquiry__item {
    padding: 20px 25px;
    margin: 0 0 12px 0;
  }
  .enquiry__item-ask {
    position: relative;
    font-family: "Museo Sans Cyrl";
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: rgb(26, 26, 26);
  }
  .enquiry__item-ask--big {
    padding: 0;
    margin: 0 0 5px 0;
    font-family: "Museo Sans Cyrl";
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: rgb(26, 26, 26);
  }
  .enquiry__item-ask--small {
    padding: 0;
    margin: 0;
    font-family: "Museo Sans Cyrl";
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: rgb(148, 148, 148);
  }
  .enquiry__item-answer {
    padding: 0;
    margin: 10px 0 0 0;
    font-family: "Museo Sans Cyrl";
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: rgb(148, 148, 148);
  }
}/*# sourceMappingURL=style.css.map */